.hero {
	display: flex;
	height: 90vh;
	.contactTitle {
		font-size: 5rem;
		margin: auto;
	}
}

.contact {
	padding-top: 15vh;
	.content {
		margin-bottom: 15vh;
		p {
			width: 65%;
		}
	}
}

.contactInfo {
	max-width: 900px;
	margin: 0 auto;
}

.phone-info, .address, .email {
	width: calc(33% - 20px);
	display: inline-block;
	h4, p {
		margin-top: 0;
		margin-bottom: 0;
		line-height: 2rem;
	}
	h4 {
		font-family: 'Playfair Display', serif;
	}
	p {
		color: #898989;
	}
	i {
		font-size: 3rem;
	}
}

.address {
	border-right: 1px solid #898989;
	margin: 0 10px;
	padding-left: 1.2vw;
}

.phone-info {
	border-right: 1px solid #898989;
}

.email {
	padding-left: 1.2vw;
}

.contactForm {
	margin: 15vh 0;
	input, textarea {
		border: none;
		border-bottom: 1px solid rgba(137,137,137,0.5);
		background: none;
		padding-bottom: 10px;
		font-family: 'Poppins', sans-serif;
		transition: border-bottom 0.4s;
	}
	input:focus, textarea:focus {
		outline: none;
		color: black;
		border-bottom: 1px solid black;
	}
	input:focus::-webkit-input-placeholder {
	   color: black;
	}
	textarea:focus::-webkit-input-placeholder {
		color: black;
	}
	input[type='submit'] {
		border-bottom: 1px solid black;
		text-transform: uppercase;
		font-weight: 700;
		cursor: pointer;
	}
	form p {
		width: calc(33% - 2vw);
		display: inline-block;
	}
	input[type='text'], input[type='email'] {
		width: 100%;
	}
	form p:nth-child(5), textarea {
		width: 100%;
	}
	form p:nth-child(3) {
		margin: 0 2vw;
	}
}

#map {
	// background: url(images/map.png);
	height: 80vh;
	max-width: 100%;
	background-size: cover;
}

@media all and (max-width: 940px) {
	.contact {
		max-width: 750px;
		margin: 0 auto;
	}
	.phone-info, .address, .email {
		width: calc(47% - 10px);
		padding: 0;
	}
	.address {
		border: 0;
		margin: 0 0 0 10px;
	}
	.phone-info {
		margin-bottom: 5vh;
	}
}

@media all and (max-width: 767px) {
	.contact {
		max-width: 600px;
		.content {
			margin-bottom: 5vh;
		}
	}

	.address, .email, .phone-info {
		width: 98%;
		margin: 5vh 0;
		border: none;
	}

	.map {
		height: 60vh;
	}
}

@media all and (max-width: 600px) {
	.contact {
		max-width: 400px;
		.content p {
			width: 100%;
		}
		.contactForm form p {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}
}

@media all and (max-width: 450px) {
	.contact {
		max-width: 300px;
	}
}